//Font Styling
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
$font-family: 'Spartan', sans-serif;

$gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$dark-gray: hsl(0, 0%, 27%);

//Mobile Styles

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr repeat(3, 0.5fr) 50px;
    grid-template-areas: 
    "slider"
    "shop"
    "img-dark"
    "about"
    "img-light"
    "footer";

    margin: 0;

    img{
        height: 100%;
        width: 100%;
    }

    overflow-x: hidden;
    font-family: $font-family;
    font-size: 12px;
}

header{
    background: url(images/mobile/mobile-image-hero-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: center center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    nav{
        grid-area: slider;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 58%;

        .desktop-nav{
            ul{
                display: none;
            }
            
        }

        .toggle-off{
            padding-left: 12%;
            padding-top: 18%;
        }

        .logo{
            padding-left: 50%;
        }

        .toggle-on{
            display: none;
            position: absolute;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            background-color: $white;
            list-style: none;
            text-transform: lowercase;
            margin: 0;
            padding: 10% 10% 10% 7%;
            width: 100%;

            li{
                a{
                    text-decoration: none;
                    color: $black;
                }
            }

            .menu{
                padding-left: 5%;
            }
            
            .close{
                flex-grow: 1;
            }
        }
    }
}


.splide{
    .angles{
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        padding: 3% 5% 3% 5%;
        width: 20%;
    }
    .shop{
        grid-area: shop;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    
        padding: 15% 8% 15% 8%;
    
        h2{
            color: $black;
            font-weight: 500;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
        p{
            color: $gray;
            line-height: 1.2rem;
            padding-bottom: 10%;
        }
    
        .arrow{
            width: 70%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
    
            text-transform: uppercase;
            color: $dark-gray;
            letter-spacing: 0.5rem;
        }
    }
}


.img-dark{
    grid-area: img-dark;
}

.about{
    grid-area: about;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 12% 8% 12% 8%;

    h3{
        color: $black;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        margin-bottom: 0;
    }
    p{
        color: $gray;
        line-height: 1.2rem;
    }
}

.img-light{
    grid-area: img-light;
}

footer{
    grid-area: footer;
    font-size: 11px; 
    text-align: center;
    color: $dark-gray;

    a{
        color: $dark-gray;
    }
    a:visited{
        color: $dark-gray;
    }

    p{
        padding-top: 10px;
    }
}

//Media Queries
//Tablets
@media only screen 
  and (min-width: 768px) 
  and (max-width: 1200px) {

    .grid-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.4fr 0.5fr repeat(3, 0.5fr) 50px;
        grid-template-areas: 
        "slider"
        "shop"
        "img-dark"
        "about"
        "img-light"
        "footer";

        header
            nav{
                .desktop-nav{
                    ul{
                        display: none;
                    }
                    
                }
                .logo{
                    padding-left: 60%;
                }
            }
        }

    .splide{

        .shop{

            padding: 15% 10%;
        
            h2{
                font-size: 24px;
            }

            p{
                font-size: 16px;
                line-height: 1.7rem;
            }
        
            .arrow{
                width: 35%;
            }
        }
    }

    .about{
        h3{
            font-size: 20px;
        }
        p{
            font-size: 16px;
            line-height: 1.7rem;
        }
    }
}


//Laptop and beyond
@media only screen 
  and (min-width: 1200px) {
    .grid-container{
        display: grid;
        grid-template-columns: repeat(7, 0.8fr);
        grid-template-rows: repeat(3, 1fr) 30px;
        grid-template-areas: 
        "slider slider slider slider shop shop shop"
        "slider slider slider slider shop shop shop"
        "img-dark img-dark about about about img-light img-light"
        "foot foot foot foot foot foot foot";
    }

    header{
        background: url(images/desktop/desktop-image-hero-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: center center;
        grid-area: slider;

        nav{
            display: block;
            .mobile-nav{
                display: none;
            }
            .desktop-nav{
                ul{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    list-style-type: none;
                    margin-top: 10%;

                    li{
                        a{
                            text-decoration: none;
                            color: $black;
                        }

                        a:visited{
                            color: $black;
                        }
                        a:hover{
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .splide{
        grid-area: shop;

        .angles{
            position: absolute;
            right: 50%;
            width: 10.4%;
            padding: 2% 2%;
        }

        .shop{
            padding: 15%;
    
            h2{
                font-size: 3.5rem;
                padding-bottom: 5%;
            }
            p{
                font-size: 1.3rem;
                line-height: 1.5rem;
            }
    
            .arrow{
                padding-bottom: 15%;
                width: 40%;

                font-size: 1.2rem;
            }
        }

    }

    .img-dark{
        grid-area: img-dark;
    }

    .about{
        grid-area: about;

        h3{
            font-size: 1.3rem;
        }

        p{
            font-size: 1.3rem;
            line-height: 1.5rem;
        }
    }

    .img-light{
        grid-area: img-light;
    }

    footer{
        grid-area: foot;
        color: $dark-gray;

        a{
            color: $dark-gray;
        }
        a:visited{
            color: $dark-gray;
        }
    }
}